<!DOCTYPE html>
<html>
  <head>
    <title>Jogooletters</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="layout-two-column-left" >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class='image_top'> <%= image_tag "air-mail1.jpg", id: 'image_top'%> </div>
<div id="top-nav">
 <div class="blogname">
<a href="/">
<h1>Jogoo letters</h1>
<h5 id="catch">My Head in my Fingers</h5>
</a>
</div>
<ul>
  <li>
    <%= link_to "Home", root_path %>
    <%= link_to "All articles", articles_path %>
    <%= link_to "Tags", tags_path %>
    <% if logged_in? %>
    <%= link_to "Authors", authors_path %>
      <% end %>
    </li>
 </ul>

 </div>
    <br class="clear"> 
     <div class="container">
     <p class="flash"><%= flash.notice %></p>
      <div class="content"> 
        <%= yield %>

      </div>
    </div>
    <br class="clear">
    <div class="fb-follow" data-href="http://localhost:3000/articles/7#" data-width="50" data-height="27" data-layout="standard" data-size="small" data-show-faces="true"></div>
   <div class="fb-follow" data-href="https://www.facebook.com/zuck" data-layout="standard" data-size="small" data-show-faces="true"></div>
    <div class="footer"> 
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
            <% else %>
            <%= link_to "(login)", login_path %>
             Logged out
            <% end %>
        </h6>
     </div>
    
    
  </body>
</html>
