<!DOCTYPE html>
<html>
  <head>
    <title>Jogooletters</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="layout-two-column-left" >
<div class="capsule">
    <div id="main">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        <script type="text/coffeescript">$('.list > li a').click ->
          $(this).parent().find('ul').toggle()
          return
        </script>
          <div class='image_top'> <a href="/authors/1"> <%= image_tag "air-mail1.jpg", id: 'image_top'%> </a><br> <p>ABOUT</p></div>
          
        <div id="top-nav">
           <div class="blogname">
            <a href="/">
            <h1>Jogoo letters</h1>
            <h5 id="catch">My Head in my Fingers</h5>
            </a>
          </div>
          <ul>
            <li>
              <%= link_to "Home", root_path %>  
              <%= link_to "All articles", articles_path %>
              <%= link_to "Tags", tags_path %>
              <% if logged_in? %>
              <%= link_to "Authors", authors_path %>
                <% end %>
              </li>
           </ul>

         </div>
            <br class="clear"> 
             <div class="container">
             <p class="flash"><%= flash.notice %></p>
              <div class="content"> 
                <%= yield %>

              </div>
            </div>
            <br class="clear">
            

          <!-- <iframe src="https://web.facebook.com/plugins/follow?href=https%3A%2F%2Fweb.facebook.com%2Fkenny.m.mugambi&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:80px; display: block;" allowTransparency="true"></iframe>-->
    </div>
</div>
<div class="footer">

      <hr style="margin: 0;">
        <div class="follow-buttons">
          <p>Follow us:</p>
          <div class="fb-follow" data-href="https://www.facebook.com/kenny.m.mugambi" colorscheme="dark" data-layout="button_count" data-size="large" data-show-faces="true" ></div>
         <div class="twitter-follow">
          <a href="https://twitter.com/Jogoo_Letters?ref_src=twsrc%5Etfw" data-button = "grey" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false" style="padding-top: 10px;">Follow @Jogoo_Letters</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>



         <div class="logger">
          <h6>
            <% if logged_in? %>
              <%= "Logged in as #{current_user.email}" %>
              <%= link_to "(logout)", logout_path %>
              <% else %>
              <%= link_to "(login)", login_path %>
               Logged out
              <% end %>
          </h6>
        </div>
        <br clear="both">
</div>
</body>
</html>

